SQL查询--chat_sql (1).yml
app:
  description: "sql\u67E5\u8BE2\u524D\u7F6E\uFF0C\u68C0\u7D22\u76F8\u5173\u8868\u7ED3\
    \u6784"
  icon: "\U0001F916"
  icon_background: '#FFEAD5'
  mode: workflow
  name: "SQL\u67E5\u8BE2--chat/sql"
workflow:
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1717550749131-source-1718336114849-target
      source: '1717550749131'
      sourceHandle: source
      target: '1718336114849'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: code
      id: 1718336114849-source-1718345396509-target
      source: '1718336114849'
      sourceHandle: source
      target: '1718345396509'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: llm
      id: 1718345396509-source-1718588669422-target
      source: '1718345396509'
      sourceHandle: source
      target: '1718588669422'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: 1718588669422-source-1718588708105-target
      source: '1718588669422'
      sourceHandle: source
      target: '1718588708105'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: http-request
      id: 1718588708105-source-1718588711915-target
      source: '1718588708105'
      sourceHandle: source
      target: '1718588711915'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: end
      id: 1718588711915-source-1718588714785-target
      source: '1718588711915'
      sourceHandle: source
      target: '1718588714785'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: "\u5F00\u59CB"
        type: start
        variables:
        - label: query
          max_length: 256
          options: []
          required: true
          type: text-input
          variable: query
        - label: auth
          max_length: 256
          options: []
          required: true
          type: text-input
          variable: auth
        - label: pk
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: pk
      height: 142
      id: '1717550749131'
      position:
        x: 30
        y: 271
      positionAbsolute:
        x: 30
        y: 271
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - 1076f36a-73e5-44b3-a4f9-766a17aafc65
        - f2c202bd-0c71-4cfa-b852-7d3c3c533f71
        desc: ''
        query_variable_selector:
        - '1717550749131'
        - query
        retrieval_mode: single
        selected: false
        single_retrieval_config:
          model:
            completion_params: {}
            mode: chat
            name: qwen-turbo-chat
            provider: tongyi
        title: "\u77E5\u8BC6\u68C0\u7D22"
        type: knowledge-retrieval
      height: 92
      id: '1718336114849'
      position:
        x: 334
        y: 271
      positionAbsolute:
        x: 334
        y: 271
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\nfunction main({result}) {\n    return {\n        result: result.map(i=>i.content)\n\
          \    }\n}\n"
        code_language: javascript
        desc: ''
        outputs:
          result:
            children: null
            type: array[string]
        selected: false
        title: "\u4EE3\u7801\u6267\u884C"
        type: code
        variables:
        - value_selector:
          - '1718336114849'
          - result
          variable: result
      height: 54
      id: '1718345396509'
      position:
        x: 638
        y: 271
      positionAbsolute:
        x: 638
        y: 271
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1718336114849'
          - result
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen-turbo-chat
          provider: tongyi
        prompt_template:
        - id: 5c00d5a9-c3aa-4a27-be71-4eb341269521
          role: system
          text: ''
        - id: 1329b663-41fa-47d3-8592-b1658f5dc3d8
          role: user
          text: "\u8BF7\u6839\u636E\u7528\u6237\u9009\u62E9\u7684\u6570\u636E\u5E93\
            \u548C\u8BE5\u5E93\u7684\u90E8\u5206\u53EF\u7528\u8868\u7ED3\u6784\u5B9A\
            \u4E49\u6765\u56DE\u7B54\u7528\u6237\u95EE\u9898.\n\u6570\u636E\u5E93\u540D\
            :\n   gydb_ai\n\u8868\u7ED3\u6784\u5B9A\u4E49:\n    {{#context#}}\n\n\u7EA6\
            \u675F:\n    1. \u8BF7\u6839\u636E\u7528\u6237\u95EE\u9898\u7406\u89E3\
            \u7528\u6237\u610F\u56FE\uFF0C\u4F7F\u7528\u7ED9\u51FA\u8868\u7ED3\u6784\
            \u5B9A\u4E49\u521B\u5EFA\u4E00\u4E2A\u8BED\u6CD5\u6B63\u786E\u7684mysql\
            \ sql\uFF0C\u5982\u679C\u4E0D\u9700\u8981sql\uFF0C\u5219\u76F4\u63A5\u56DE\
            \u7B54\u7528\u6237\u95EE\u9898\u3002    2. \u9664\u975E\u7528\u6237\u5728\
            \u95EE\u9898\u4E2D\u6307\u5B9A\u4E86\u4ED6\u5E0C\u671B\u83B7\u5F97\u7684\
            \u5177\u4F53\u6570\u636E\u884C\u6570\uFF0C\u5426\u5219\u59CB\u7EC8\u5C06\
            \u67E5\u8BE2\u9650\u5236\u4E3A\u6700\u591A5\u4E2A\u7ED3\u679C\u3002  \
            \  3. \u53EA\u80FD\u4F7F\u7528\u8868\u7ED3\u6784\u4FE1\u606F\u4E2D\u63D0\
            \u4F9B\u7684\u8868\u6765\u751F\u6210 sql\uFF0C\u5982\u679C\u65E0\u6CD5\
            \u6839\u636E\u63D0\u4F9B\u7684\u8868\u7ED3\u6784\u4E2D\u751F\u6210 sql\
            \ \uFF0C\u8BF7\u8BF4\uFF1A\u201C\u63D0\u4F9B\u7684\u8868\u7ED3\u6784\u4FE1\
            \u606F\u4E0D\u8DB3\u4EE5\u751F\u6210 sql \u67E5\u8BE2\u3002\u201D \u7981\
            \u6B62\u968F\u610F\u634F\u9020\u4FE1\u606F\u3002    4. \u8BF7\u6CE8\u610F\
            \u751F\u6210SQL\u65F6\u4E0D\u8981\u5F04\u9519\u8868\u548C\u5217\u7684\u5173\
            \u7CFB    5. \u8BF7\u68C0\u67E5SQL\u7684\u6B63\u786E\u6027\uFF0C\u5E76\
            \u4FDD\u8BC1\u6B63\u786E\u7684\u60C5\u51B5\u4E0B\u4F18\u5316\u67E5\u8BE2\
            \u6027\u80FD    \n\u7528\u6237\u95EE\u9898:\n    {{#1717550749131.query#}}\n\
            \n\u8BF7\u4E00\u6B65\u6B65\u601D\u8003\u5E76\u6309\u7167\u4EE5\u4E0BJSON\u683C\
            \u5F0F\u56DE\u590D\uFF1A      \"{\\n    \\\"thoughts\\\": \\\"thoughts\
            \ summary to say to user\\\",\\n    \\\"sql\\\": \\\"SQL Query to run\\\
            \"\\n}\"\n\u786E\u4FDD\u8FD4\u56DE\u6B63\u786E\u7684json\u5E76\u4E14\u53EF\
            \u4EE5\u88ABPython json.loads\u65B9\u6CD5\u89E3\u6790."
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1718588669422'
      position:
        x: 942
        y: 271
      positionAbsolute:
        x: 942
        y: 271
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\nfunction main({text}) {\n    const start = text.indexOf('{');\n \
          \   const end = text.lastIndexOf('}')+1;\n    //\u907F\u514D\u6A21\u578B\
          \u7ED9\u51FA```json\u7684md\u683C\u5F0F\u51FA\u9519\n    return {\n    \
          \    sql: JSON.parse(\n            text.substring(start,end)).sql\n    }\n\
          }"
        code_language: javascript
        desc: ''
        outputs:
          sql:
            children: null
            type: string
        selected: false
        title: "\u4EE3\u7801\u6267\u884C 2"
        type: code
        variables:
        - value_selector:
          - '1718588669422'
          - text
          variable: text
      height: 54
      id: '1718588708105'
      position:
        x: 1246
        y: 271
      positionAbsolute:
        x: 1246
        y: 271
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: '{"sql": "{{#1718588708105.sql#}}"}'
          type: json
        desc: ''
        headers: 'Authorization:{{#1717550749131.auth#}}

          primkey:{{#1717550749131.pk#}}'
        method: post
        params: ''
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: "HTTP \u8BF7\u6C42"
        type: http-request
        url: http://x.x.x.x:8085/chat/sql
        variables: []
      height: 106
      id: '1718588711915'
      position:
        x: 1550
        y: 271
      positionAbsolute:
        x: 1550
        y: 271
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1718588711915'
          - body
          variable: data
        selected: false
        title: "\u7ED3\u675F"
        type: end
      height: 90
      id: '1718588714785'
      position:
        x: 1854
        y: 271
      positionAbsolute:
        x: 1854
        y: 271
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -254.19999999999982
      y: 94.30000000000001
      zoom: 0.7
